.container{
    margin: 112px 0px 0px 36px;
    div{
        display: flex;
        align-items: center;
    }
    span{
        margin: 0px 0px 0px 18px;
        padding: 0px 0px 2px 0px;
        font-family:  "Noto Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #0007;
    }
    .settings{

    }
    .signOut{

    }
}